<div id="template-title">VIEW PROJECTS</div>
<div id="create-product">
  <button id="new-prod"class="btn btn-default test-button" data-toggle="modal" data-dismiss="modal" aria-hidden="true">Create New Product</button>
</div>
<hr>
{{#each products as |product|}}
<ul class=handlebars-body>
<h4 id="product-description">Product Description: {{product.description}}</h4>
<h5>Price: ${{product.price}}</h5>
<h5 class="modal-photos">Before-Photo Link: {{product.before_photo_url}}</h5>
<h5 class="modal-photos">After-Photo Link: {{product.after_photo_url}}</h5>
<hr>
{{#if product.editable}}
  <form class="updateProduct">
    <fieldset>
      <input type="hidden" name="product[id]" value="{{product.id}}" placeholder="Product ID">
      Edit Product Description: <input type="text" name="Description" value="{{product.description}}" placeholder="New Description">
      <hr>
      Edit Before Photo: <input type="text" name="Before Photo" value="{{product.before_photo_url}}" placeholder="Before Photo">
      <hr>
      Edit Price $: <input type="text" name="Price $" value="{{product.price}}" placeholder="Price">
      <hr>
      Edit After Photo: <input type="text" name="After Photo" value="{{product.after_photo_url}}" placeholder="After Photo">
      <hr>
      <input type="submit" value="Edit Project" id="update-submit">
    </fieldset>
  </form>
  <form class="deleteProduct" id="delete-form">
    <fieldset>
      <input type="hidden" name="product[id]" value="{{id}}">
      <input type="submit" name="submit" value="Delete" class="delete-product btn" id="delete-button">
    </fieldset>
  </form>
  {{/if}}
</ul>
<hr>
{{/each}}
